<div class="assigments">
    <div class="classroom-assigments">
        <h1 class="title">Classroom desires</h1>
        {{ range .ClassRoom }}
        <div class="assigment">
            <label class="assigment-subject" for=""> {{ . }} </label>
        </div>
        {{ end }}
    </div>
    <div class="moodle-assigments">
        <h1 class="title">Moodle desires</h1>
        {{ range .Moodle}}
        <div class="assigment">
            <label for="" class="assigment-subject"> {{ .ClassSubject }} </label>
            <p class="assigment-content"> {{ .Title }} </p>
            <a href="{{ .Link }}"> Ver</a>
        </div>
        {{ end }}
    </div>
</div>
