:root{
    --spotlightPos: 45% 
}
@font-face {
    font-family: 'PUX';
    src: url('../fonts/PersonifiedUXRegular.ttf') format('truetype');
}

@font-face {
    font-family: 'EW';
    src: url('../fonts/earwig_factory_rg.otf') format('truetype');
}
*{
    box-sizing: border-box;
    text-wrap:pretty;
    font-size: 62.5%;
}

.spotlight{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: spotLightAnimation 0.6s infinite alternate ease-in-out
}
html{
    color:snow;
    font-family: 'PUX', Arial;
    background: hsl(0, 0%, 6%);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form *{
    margin-top: 5%;
}

h1{
    font-family: 'EW';
    font-weight: 500;
    font-size: 9rem;
    text-align: center;
}


label {
    font-size: 3rem;
}

input {
    font-size: 2rem;
    color: #0d0d0d;
    font-family: 'PUX', Arial;
    border-radius: 5px;
    border: none;
    height: 30px;
}
button{
    font-size: 6rem;
    color: snow;
    font-family: 'EW', Arial;
    border: none;
    background: transparent;
    cursor: pointer;
    width: fit-content;
}

button:hover, button:active{
    color: #DB3754;
}
@keyframes spotLightAnimation {
    0% {
        background-image: radial-gradient(circle at 45% 45%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }
    10% {
        background-image: radial-gradient(circle at 45.1% 45.1%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    15% {
        background-image: radial-gradient(circle at 45.2% 45.2%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    20% {
        background-image: radial-gradient(circle at 45.3% 45.3%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    25% {
        background-image: radial-gradient(circle at 45.4% 45.4%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }
    30% {
        background-image: radial-gradient(circle at 45.5% 45.5%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }
    40% {
        background-image: radial-gradient(circle at 45.6% 45.6%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    50% {
        background-image: radial-gradient(circle at 45.7% 45.7%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    60% {
        background-image: radial-gradient(circle at 45.8% 45.8%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    70% {
        background-image: radial-gradient(circle at 45.9% 45.9%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    80% {
        background-image: radial-gradient(circle at 46% 46%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    90% {
        background-image: radial-gradient(circle at 46.1% 46.1%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }

    100% {
        background-image: radial-gradient(circle at 46.2% 46.2%, transparent 40%, rgba(0,0,0,0.30) 45%);
    }
}
